.burger {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;


    padding: 12px 8px;
    background: none;
    border: 0;
    cursor: pointer;

    @include for-phone-up{
        display: none;
    }

    &__item {
            display: block;
            width: 24px;
            height: 2.67px;
    
            background-color: #000000;
    
            font-size: 0;
            color: transparent;
    
            position: relative;

            .burger:hover &, .burger:focus{
                background-color: $secondaryColor;
            }


            &::before, &::after{
                content: "";
                    width: 100%;
                    height: 100%;
                
                    background-color: #000000;
                
                    position: absolute;
                    left: 0;
                    z-index: 1;

                    .burger:hover &,
                        .burger:focus & {
                            background-color: $secondaryColor;
                        }

            }
            &::after{
                bottom: -6px;
            }
            &::before{
                top: -6px;
            }


    }
}