.button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    cursor: pointer;
    background-color: $buttonColor;
    color: $headerColor;
    border: transparent 0;
    border-radius: 4px;
    padding: 6px 22px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        background-color: $secondaryColor;
        color: $whiteColor;
    }

    &--blue{
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: 0.06em;
            line-height: 1.87;
        
        
            background-color: $secondaryColor;
            color: $whiteColor;
            
        &:hover, &:focus{
            background-color:$focusButtonColor;
            color:$whiteColor;
        }   
            
    }
        &__footer{
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        &__img {
            display: inline-block;
            margin-left: 10px;
            width: 24px;
            height: 24px;
        
        }
    &--centred{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
    }
    &__esc{
        position: absolute;
        justify-content: center;
        align-items: center;
        
        padding: 0;
        top: 8px;
        right: 8px;
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        border: 1px solid #E5E5E5;
        background-color: $whiteColor;
        fill: #000000;
        display: flex;

        &:focus, &:hover{
            fill: $secondaryColor;
            background-color:$whiteColor;
        }
    }
    &__x{
        width: 11px;
        height: 11px;
    }
}