.header {
    color: $secondaryColor;
    font-style: normal;
    border-bottom: 1px solid #ECECEC;
    

    &__inner {
        display: flex;
        align-items: center;

      
        }
    
    &__logo{
        padding-top: 16px;
        padding-bottom: 16px;
        

        @include for-tablet-only{
            margin-right: 88px;
        }

            @include for-desktop-up{
            padding-top: 24px;
            padding-bottom: 25px;
            margin-right: 93px;
            }
    }
    &__contacts{
        display: none;

        

        @include for-tablet-up{
            display: flex;
            margin-left: auto;
            flex-direction: column;
        }

        
    }
}
