.hero {
    
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/header480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;

    text-align: center;
    padding: 118px 0;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/header480@x2.jpg);
        }

@include for-phone-up{
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/header768.jpg);
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/header768@x2.jpg);}

}

    @include for-tablet-up{
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);

                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url(../images/bg-img@x2.jpg);}




    }
    @include for-desktop-up {
            padding: 200px 0;
        }

    &__inner{
        max-width: 390px;        
        width: 100%;

        @include for-desktop-up{
            max-width: 696px;
        }
    }
    &__title {
        font-weight: 900;
        color: $whiteColor;
        font-size: 26px;
        line-height: 1.61;
        margin-top: 0;
        margin-bottom: 30px;
    
        text-transform: uppercase;
        letter-spacing: 0.06em;

        @include for-desktop-up{
            font-size: 44px;
            line-height: 1.36;
        }
    }
}