.logo {
    display: block;

    font-family: 'Raleway';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;

    color: $secondaryColor;

    @include for-desktop-up{
        font-size: 26px;
    }


    
    &--black{
        color: #000000;
    }
    &--white{
        color: $whiteColor;
       
    }
}