.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            & .modal {
                    transform: translate(-50%, -50%) scale(0.6);
                }
        }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    max-height: 581px;
    max-width: 528px;
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: $whiteColor;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}