.social {
    display: flex;
    justify-content: center;
    padding: 0 32px 30px 32px;

    &__item:not(:last-child) {
            margin-right: 10px;
        }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: 1px solid transparent;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #AFB1B8;

        &:hover, &:focus{
            background:$secondaryColor;
            fill: #ffffff;
        }
    }

    &__img {
        width: 20px;
        height: 20px;
    
        &--white{
            fill: $whiteColor;
        }
    }
}