.team {
    display: flex;

    &__card {
            background-color:$whiteColor;
            text-align: center;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
            &:not(:last-child) {
                    margin-right: 30px;
                }
        }


    &__name {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.06em;
    
        color: $headerColor;
    }
    &__text {
        line-height: 1.17;
    
    }
    &__info {
        padding-top: 30px;
        padding-bottom: 16px;
    }
}