h1,
h2,
h3,
h4,
h5,
p{
    margin: 0 0;
    padding: 0 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none
}
body {
    font-family: 'Roboto', sans-serif;
    background-color:$whiteColor;
    color:$mainColor;
    letter-spacing: 0.03em;

}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.section {
    padding-bottom: 94px;
    padding-top: 94px;

    &--notpaddingbot{
        padding-bottom: 0;
    }

    &--color{
        background-color: $buttonColor;
    }
    
}


.linknon{
    text-decoration: none;
}

.invis {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

